// ----------------Experience------------------

.experience {
	width: 43%;
	padding-top: 85px;
	padding-bottom: 200px;
	display: inline-block;
	@include media('<xl') {
		width: 40%;
		padding-left: 30px;
		padding-bottom: 125px;
	}
	@include media('<lg') {
		padding-bottom: 45px;
		padding-top: 50px;
	}
	@include media('<md') {
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
}
