// ----------------Footer---------------------

.footer {
	background-color: $color--gray-2;
	padding-top: 52px;
	padding-bottom: 55px;
	@include media('<md') {
		text-align: center;
		padding: 30px 0 0;
	}

	&__item {
		min-width: 23%;
		@include media('<lg') {
			&:last-of-type {
				width: 100%;
			}
			@include media('<md') {
				margin: 0 auto;
				padding-bottom: 20px;
				width: 100%;
			}

		}

		&__headlines {
			line-height: 35px;
			@include media('<xl') {
				line-height: 20px;
			}
		}
	}
}
