// ----------------hero---------------------

.hero {
	width: 48%;
	padding-top: 35vh;
	position: relative;
	z-index: 2;
	@include media('<xl') {
		margin-left: 20px;
		padding-top: 30vh;
	}
	@include media('<lg') {
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	@include media('<md') {
		width: 100%;
		padding-top: 30vh;
	}
}

.canvas-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	overflow: hidden;
	@include media('<lg') {
		width: 100%;
	}
}
