// ----------------Marketing---------------------
.marketing {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;

	&__img {
		position: absolute;
		left: -226px;
		top: -76px;
		@include media('<xl') {
			transform: scale(0.8);
			top: -100px;
			left: -270px;
		}
		@include media('<lg') {
			transform: scale(0.6);
			left: -305px;
		}
		@include media('<md') {
			display: none;
		}
	}
	&__description {
		width: 49%;
		padding: 8px 70px 215px 3px;
		z-index: 1;
		position: relative;
		@include media('<xl') {
			padding-bottom: 100px;
		}
		@include media('<lg') {
			padding-right: 10px;
			padding-bottom: 60px;
		}
		@include media('<md') {
			width: 100%;
			padding:0 0 20px 0;;
		}
	}
}
