// ------------------nav---------------------------

.nav {
	margin-right: -139px;
	@include media('<xxl')  {
		margin-right: -5px;
	}
	@include media('<md') {
		margin-right: 0;

	}
	&__list {
		display: flex;
		margin-bottom: 5px;
		justify-content: space-around;
		@include media('<md') {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s ease, opacity 0.5s ease, background-color 0.3s ease;
			position: absolute;
			right: 0;
			top: 55px;
			width: 100%;
			padding: 10px 15px 10px;
		}
		@include media('<sm') {
			flex-direction: column;
			padding-right: 0;
		}
		&--visibile {
			visibility: visible;
			opacity: 1;
			background-color:  $color--white-3;
		}
	}
	&__item {
		color: $color--white;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		margin-left: 27px;
		position: relative;
		&:after {
			content: "";
			display: inline-block;
			border-bottom: 1px solid $color--white;
			width: 100%;
			position: absolute;
			top: 20px;
			left: 0;
			opacity: 0;
			transition: all 0.4s ease;
		}
		&:hover {
			&:after{
				opacity: 0.9;
				top: 15px;
			}
		}
		@include media('<md') {
			font-size: 16px;
		}
		@include media('<sm') {
			padding-bottom: 10px;
			padding-right: 15px;
			text-align: right;

		}
	}
	&__toggle {
		display: none;
		height: 40px;
		border: 3px solid white;
		width: 40px;
		background-color: transparent;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		cursor: pointer;
		padding: 5px 0;
		position: relative;
		@include media('<md') {
			display: flex;
		}
		&--1, &--2, &--3 {
			border: 2px solid $color--white;
			width: 25px;
			border-radius: 20%;
			display: block;
			transition: all 0.3s ease;
		}
		&--active {
			.nav__toggle--1 {
				transform: rotate(-45deg) translate(-5px, 6px);
			}
			.nav__toggle--2 {
				opacity: 0;
			}
			.nav__toggle--3 {
				transform: rotate(45deg) translate(-5px, -6px);
			}
		}
	}
}
