/*
 * ----------------------------------------
 * COLORS
 *
 * Colors in variables.
 * We have 7 recurrent colors:
 * - regular blue
 * - dark blue
 * - navy blue
 * - orange
 * - grey
 * - black
 * - white
 */

$color--blue: #0098c3;
$color--dark-blue: #005b83;
$color--navy: #003359;
$color--orange: #f0ab00;
$color--grey: #eeeeee;
$color--black: #000f1a;
$color--white: #ffffff;
