/*
 * ----------------------------------------
 * COLORS
 *
 * Colors in variables.
 * We have 7 recurrent colors:
 * - regular blue
 * - dark blue
 * - navy blue
 * - orange
 * - grey
 * - black
 * - white
 */

$color--white: #ffffff;
$color--lighter-gray: #3d3d3d;
$color--gray: #f8f8f8;
$color--dark-gray: #363636;
$color--orange: #f16522;


$color--blue: #0098c3;
$color--dark-blue: #005b83;
$color--navy: #003359;
$color--orange: #f0ab00;
$color--black: #000f1a;
