/*
 * ----------------------------------------
 * FONTS
 *
 * Design has just one font loaded by @font-face
 * - Omnes (weight: 400, 500, 700)
 */


// The variables
$font--primary: 'Dosis', sans-serif;
$font--secondary: 'Open Sans', sans-serif;
