// ---------------------------------------------------
// Addition CSS reset
// ---------------------------------------------------

*, *:before, *:after { box-sizing: border-box; }

ul {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0; }

li { list-style-type: none; }

iframe, button { border: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;

	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	min-width: auto; }

// ---------------------------------------------------
// General
// ---------------------------------------------------

body {

	color: $color--black; }

$breakpoints: (phone: 565px, tablet: 860px, desktop: 1440px);

.container {
	margin: 0 auto;
}
