// ---------------------------------------------------
// Addition CSS reset
// ---------------------------------------------------

*, *:before, *:after { box-sizing: border-box; }

ul {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

li { list-style-type: none; }

iframe, button { border: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;

	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	min-width: auto;
}

// ---------------------------------------------------
// General
// ---------------------------------------------------

body {
	font-family: $font--primary;
	color: $color--black;
}


.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include media('<xl') {
	  width: 960px;
	}
	@include media('<lg') {
	   width: 720px;
	}
	@include media('<md') {
	  	width: 100%;
	}
}

.cf:after{
	content: "";
	display: table;
	clear: both;
}

.flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--wrap {
		flex-wrap: wrap
	}
	&--align-items {
		align-items: flex-start;
	}
}
.clear {
	clear: both;
}
